.home {
  padding: 20px;
}

.mentor-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.mentor-card {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  width: 250px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center; /* Center content inside the card */
}

.mentor-card h2 {
  margin-top: 0;
  font-weight: bold;
  text-transform: uppercase; /* Make text uppercase */
}

.mentor-card p {
  margin: 5px 0;
  text-align:left;
}

.mentor-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9; /* Màu nền sáng hơn khi hover */
}


.mentor-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  margin-left: auto; /* Add auto margins */
  margin-right: auto;
}

.mentor-details {
  margin-top: 15px;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 8px;
}

.search-bar {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.search-bar input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
}

.connect-button {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  color: #007bff;
  background-color: #ffffff; /* Button background color */
  border: 2px solid #007bff; /* Button border color */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.connect-button:hover {
  background-color: #007bff; /* Background changes to white on hover */
  color: #fafafa; /* Text changes to blue on hover */
  border-color: #007bff; /* Border stays blue */
}
