.footer {
  background-color: rgb(93, 95, 100);
  color: #fefefe;
  position: relative;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 20px;
}

.footer .heading {
  text-decoration: overline;
  font-style: italic;
  color: rgb(0, 206, 206);
  cursor: pointer;
  padding-top: 2px;
  width: 100%;
  max-width: 100%; 
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer .logo {
  max-width: 200px; 
  width: auto; 
  height: auto; 
}

.footer .logo img {
  width: 100%; 
  height: 80px; 
}
h4{
  font-weight: bold;
}
.footer .center-text {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 20px; 
  color: #fefefe; 
}


.footer .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1.5rem 0;
}

.footer .content p {
  margin-bottom: 1.3rem;
}

.footer .content a {
  text-decoration: none;
  color: #fefefe;
}

.footer .content a:hover {
  border-bottom: 1px solid #971717;
}

.footer .content h4 {
  margin-bottom: 1.3rem;
  font-size: 19px;
}

footer {
  height: auto;
  text-align: center;
  margin: 0;
  padding: 10px;
  background-color: #333;
  color: #fefefe;
}

@media (max-width: 767px) {
  .footer .content {
    flex-direction: column;
    font-size: 14px;
  }

  .footer {
    position: static;
    margin-top: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer .content,
  .footer {
    font-size: 14px;
  }
}

@media (orientation: landscape) and (max-height: 300px) {
  .footer {
    position: static;
  }
}
